In [1]:
import pandas as pd
r = pd.read_csv( 'ratings.csv' )

In [2]:
r

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [14]:
len(r['book_id'].unique())

10000

In [22]:
reviews_per_user = r.groupby( 'user_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user.describe([.25, .5, .75, .95])

count    53424.000000
mean       111.868804
std         26.071224
min         19.000000
25%         96.000000
50%        111.000000
75%        128.000000
95%        157.000000
max        200.000000
Name: user_id, dtype: float64

In [109]:
reviews_per_user.quantile(0.95)

157.0

Step-1) Extract users and ratings of more than 157
extract the user ids who have given more than 157 ratings and when we will have user ids we will extract the ratings of only this user id from the rating dataframe

In [2]:
xu = r['user_id'].value_counts() > 157
yu = xu[xu].index  #user_ids
print(yu.shape)
uratings = r[r['user_id'].isin(yu)]
uratings

(2534,)

         user_id  book_id  rating
977           75     3254       2
978           75     6777       5
979           75       11       5
981           75      372       4
982           75      476       3
...          ...      ...     ...
5976327    20586     1089       3
5976328    20586      894       5
5976329    20586      755       3
5976330    20586     2109       3
5976337    46737     4200       4

[427509 rows x 3 columns]

In [24]:
reviews_per_book = r.groupby( 'book_id' ).book_id.apply( lambda x: len( x ))
reviews_per_book.describe([.25, .5, .75, .95])

count    10000.000000
mean       597.647900
std       1267.289788
min          8.000000
25%        155.000000
50%        248.000000
75%        503.000000
95%       2132.350000
max      22806.000000
Name: book_id, dtype: float64

In [44]:
reviews_per_book

book_id
1        22806
2        21850
3        16931
4        19088
5        16604
         ...
9996       141
9997        93
9998       102
9999       130
10000      111
Name: book_id, Length: 10000, dtype: int64

step-2) Extract books that have received more than 2132 ratings.
Now dataframe size has decreased and we have 4.8 lakh because when we merge the dataframe, all the book id-data we were not having. Now we will count the rating of each book so we will group data based on title and aggregate based on rating.

In [3]:
xb = r['book_id'].value_counts() > 2132
yb = xb[xb].index  #user_ids
print(yb.shape)
bratings = r[r['book_id'].isin(yb)]
bratings

(500,)

         user_id  book_id  rating
0              1      258       5
5              2       26       4
7              2       33       4
8              2      301       5
12             4       70       4
...          ...      ...     ...
5976456     3173      459       5
5976458    53358      253       5
5976466    35336      317       5
5976473    49925      330       5
5976474    49925      510       5

[2399375 rows x 3 columns]

In [43]:
reviews_per_book_filtered =bratings.groupby( 'book_id' ).book_id.apply( lambda x: len( x ))
reviews_per_book_filtered

book_id
1      22806
2      21850
3      16931
4      19088
5      16604
       ...
715     2400
730     2147
733     2533
773     2225
826     2175
Name: book_id, Length: 500, dtype: int64

In [4]:
final_rating=pd.merge(uratings, bratings, on=['user_id', 'book_id', 'rating'])

In [29]:
final_rating

        user_id  book_id  rating
0            75       11       5
1            75      372       4
2            75      476       3
3            75      115       4
4            75      122       4
...         ...      ...     ...
200942    25030      178       3
200943    50898      209       3
200944    39663       74       4
200945    19951      267       5
200946    20221      320       4

[200947 rows x 3 columns]

In [22]:
len(final_rating['user_id'].unique())

2534

replace book_id by title in final_rating

b = pd.read_csv('books.csv' )

In [5]:
b2=b[['book_id', 'title']]

NameError: name 'b' is not defined

In [61]:
frt=final_rating.merge(b2, on='book_id')

In [105]:
frt

,user_id,book_id,rating,title
0,75,11,5,The Kite Runner
1,143,11,5,The Kite Runner
2,230,11,5,The Kite Runner
3,247,11,5,The Kite Runner
4,256,11,4,The Kite Runner
...,...,...,...,...
200942,27330,279,5,Harry Potter and the Cursed Child - Parts One ...
200943,20782,279,1,Harry Potter and the Cursed Child - Parts One ...
200944,51250,279,2,Harry Potter and the Cursed Child - Parts One ...
200945,50898,279,3,Harry Potter and the Cursed Child - Parts One ...
200946,39663,279,3,Harry Potter and the Cursed Child - Parts One ...

Step-3) Create Pivot Table

In [24]:
book_pivot = final_rating.pivot_table(columns='user_id', index='book_id', values="rating")
book_pivot.fillna(0, inplace=True)

In [23]:
book_pivot.describe()

user_id,35,75,143,173,178,202,215,230,247,256,...,53145,53165,53173,53245,53279,53281,53292,53293,53318,53366
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.604000,0.630000,0.570000,0.836000,0.422000,0.824000,0.57400,0.680000,0.594000,0.676000,...,0.638000,0.734000,0.428000,0.582000,0.514000,0.852000,1.270000,0.880000,0.520000,0.424000
std,1.300217,1.411767,1.407502,1.590649,1.238946,1.658471,1.40872,1.536986,1.478356,1.465373,...,1.578588,1.663966,1.252179,1.388211,1.228341,1.638128,2.178668,1.906008,1.399112,1.167454
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [26]:
book_pivot

user_id,35,75,143,173,178,202,215,230,247,256,...,53145,53165,53173,53245,53279,53281,53292,53293,53318,53366
book_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,4.0,5.0,4.0,4.0,0.0,0.0,5.0,0.0,3.0,...,5.0,5.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,4.0
2,0.0,5.0,5.0,5.0,0.0,4.0,0.0,0.0,4.0,3.0,...,5.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0
3,0.0,0.0,3.0,4.0,1.0,4.0,0.0,0.0,0.0,3.0,...,5.0,4.0,0.0,0.0,1.0,3.0,5.0,0.0,2.0,5.0
4,0.0,0.0,0.0,4.0,0.0,4.0,0.0,5.0,4.0,4.0,...,5.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0,3.0
5,0.0,0.0,0.0,0.0,0.0,4.0,3.0,4.0,5.0,4.0,...,5.0,5.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,0.0
730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,0.0,0.0
733,4.0,0.0,0.0,0.0,0.0,3.0,0.0,5.0,3.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,0.0,0.0
773,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,5.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0

In [28]:
book_pivot.loc[826]

user_id
35       0.0
75       0.0
143      0.0
173      0.0
178      0.0
        ...
53281    0.0
53292    0.0
53293    5.0
53318    0.0
53366    0.0
Name: 826, Length: 2534, dtype: float64

In [17]:
final_rating['user_id'].unique()

array([   75,   143,   173, ..., 34531, 51553,  7553])

In [19]:
53366 in final_rating['user_id'].unique()

True

In [20]:
final_rating['book_id'].unique()

array([ 11, 372, 476, 115, 122, 109,  22, 150,  63, 378,  18, 516,  38,
        92,  23,  94,  45,  35,  55,  10,  27,  21,  24,   2,  26,   8,
       426, 100, 301, 325, 457,  57, 258, 255, 265,  14, 531, 646, 410,
       114, 132, 162, 383, 138, 130,  90, 101, 119,   7,   9, 170, 354,
        70, 127, 650,  15,  32,  60, 213, 595,   4, 730, 129,   5,  13,
       306, 284,  65, 405, 715, 401, 264, 148, 456, 297, 217, 212,  33,
       225, 131,  89,  82, 538, 181, 468, 282, 304,  43, 704, 272, 557,
       495, 733, 238, 400, 198, 233, 597, 160, 561, 121, 173, 637,  48,
        72, 211, 117, 230,  76, 424,  64, 186, 270,  75, 570, 189, 350,
       155, 102, 126,  19,  95, 289, 118, 219,  28,  71, 125, 436, 205,
       696, 371, 407, 461, 375, 288,  80, 546, 103,  54, 492,  42, 496,
       180, 530, 510, 330,  87, 413, 620, 113,  93,  44, 136, 487, 660,
       575, 693, 108, 287,  78,  40, 111, 161, 335, 373, 158,  97, 245,
        58, 278,  50,  37, 339, 133, 257, 386,  29, 171, 326, 540, 416,
       321, 273, 523,  59,  66, 408, 116, 559, 316, 184, 296, 157, 544,
       387, 427, 298, 453, 545, 390, 596,  25, 471, 451, 204, 358, 364,
       251, 168, 176, 612,  84, 431, 209,  62, 483, 480,  46, 577, 271,
       331, 328, 344, 658, 177, 391, 263, 356, 337, 599, 501, 578, 179,
       714, 154, 248, 353, 773,  67, 417, 241, 381, 222, 196, 682, 137,
       463,  68, 560, 310, 621, 681,  85, 228, 178,  81,  86, 268, 145,
       104, 479, 281, 227, 494, 341,  79, 515, 199,  36, 207, 123, 343,
       172, 323, 576, 361,  83, 142, 374, 388,  77, 167, 666, 283, 276,
       432, 349,  39, 110, 135, 165, 357, 641, 347, 542, 292, 602, 332,
       191, 503, 236, 590, 478, 317, 529, 402, 395, 266, 156, 242, 256,
       593, 362, 498, 425, 485, 244, 194,  47, 249, 360, 429, 409, 826,
       200, 305, 243, 237, 556, 274, 232, 107, 670, 512, 322, 377,  53,
       345, 293, 444, 229, 497, 675,  52, 368, 234, 221, 120, 553, 518,
       572, 514, 639, 314,   3, 152, 311, 346, 389, 488,  49, 223, 187,
       519, 467, 239, 261, 547,  74, 275, 197, 174, 558,  73, 563,  41,
        56, 534, 216, 300, 329, 153,  51, 246, 151, 652, 214, 601, 631,
       159, 195,  16, 312, 447, 231, 527, 399, 522, 193, 355, 333,  88,
       147, 210,   1, 384,  31, 175, 450, 291, 396, 226,  98, 182, 414,
       134, 192, 584,  17, 201, 140, 441, 202, 224, 169, 254,  20, 208,
       188, 149, 338,  91, 124, 183, 440, 163, 144, 166, 340, 259, 379,
       309, 280, 307, 351, 106, 319, 421, 290, 376, 139,  12, 438, 185,
       215,   6, 294,  69,  34, 295, 327, 105, 203, 252, 404,  99,  96,
       250, 206, 190,  30, 112, 313, 320, 342, 359, 277, 164, 240, 551,
       141, 423, 318, 146, 285, 235, 253, 324, 437, 143, 348, 262, 459,
       352, 458,  61, 533, 267, 279])

In [29]:
type(final_rating['book_id'].unique())

numpy.ndarray

Modeling
We have prepared our dataset for modeling. we will use the nearest neighbors algorithm which is the same as K nearest which is used for clustering based on euclidian distance.

But here in the pivot table, we have lots of zero values and on clustering, this computing power will increase to calculate the distance of zero values so we will convert the pivot table to the sparse matrix and then feed it to the model.

In [64]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

Now we will train the nearest neighbors algorithm. here we need to specify an algorithm which is brute means find the distance of every point to every other point.

In [65]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors=10,algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', n_neighbors=10)

Let’s make a prediction and see whether it is suggesting books or not. we will find the nearest neighbors to the input book id and after that, we will print the top 10 books which are closer to those books. It will provide us distance and book id at that distance. let us pass Salem's Lot which is at 0 indexes.

In [67]:
distances, suggestions = model.kneighbors(book_pivot.iloc[0, :].values.reshape(1, -1))

In [68]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index([''Salem's Lot', 'The Dead Zone', 'Cujo', 'Christine', 'Pet Sematary',
       'Needful Things', 'Firestarter', 'Carrie', 'Under the Dome', 'Misery'],
      dtype='object', name='title')

# SVD with surprise library
predict a rating given by an user

In [8]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()
data = Dataset.load_from_df(final_rating[['user_id', 'book_id', 'rating']], reader)

In [10]:
svd = SVD()

In [ ]:
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

We get a mean Root Mean Sqaure Error of 0.87 approx which is more than good enough for our case. Let us now train on our dataset and arrive at predictions.

In [11]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [97]:
from surprise import accuracy
from surprise.model_selection import KFold

testset = trainset.build_testset()
predictions = svd.test(testset)
# RMSE should be low as we are biased
accuracy.rmse(predictions, verbose=True)  # ~ 0.64 (which is low)

RMSE: 0.6372

0.6372250291284687

In [100]:
from surprise import NormalPredictor
np=NormalPredictor()
np.fit(trainset)
testset = trainset.build_testset()
predictions = np.test(testset)
# RMSE should be low as we are biased
accuracy.rmse(predictions, verbose=True)

RMSE: 1.3739

1.373856595484506

In [104]:
from surprise import NMF
nmf=NMF()
nmf.fit(trainset)
testset = trainset.build_testset()
predictions = np.test(testset)
# RMSE should be low as we are biased
accuracy.rmse(predictions, verbose=True)

RMSE: 1.3760

1.3759858946144512

In [12]:
#pick user with user Id 75 and check the ratings she/he has given.
final_rating[final_rating['user_id'] == 53318]

        user_id  book_id  rating
190292    53318      188       3
190293    53318      182       4
190294    53318      441       5
190295    53318       97       1
190296    53318      239       4
...         ...      ...     ...
190352    53318      670       5
190353    53318      675       5
190354    53318      696       3
190355    53318      488       5
190356    53318      205       3

[65 rows x 3 columns]

In [103]:
svd.predict(53318, 188)
# à débugger, pour un même utilisateur, peu importe l'item, l'estimation est la même

Prediction(uid=53318, iid=188, r_ui=None, est=3.9929947406674553, details={'was_impossible': False})

For book with ID 112, we get an estimated prediction of 3.425. One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have predicted the movie.

# Sources

https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system#Content-Based-Filtering

https://www.analyticsvidhya.com/blog/2021/06/build-book-recommendation-system-unsupervised-learning-project/

https://towardsdatascience.com/how-you-can-build-simple-recommender-systems-with-surprise-b0d32a8e4802

https://github.com/AmolMavuduru/SurprisePythonExamples

https://towardsdatascience.com/item-based-collaborative-filtering-in-python-91f747200fab

https://github.com/shamafarabi/Book_Recommendation_Engine

https://www.kdnuggets.com/2020/07/building-content-based-book-recommendation-engine.html

https://towardsdatascience.com/what-should-i-read-next-68be827960bf

https://www.kaggle.com/omarzaghlol/goodreads-2-book-recommender-system

https://chubek.github.io/recommender/2020/12/15/cold-start-problem-copy.html

https://towardsdatascience.com/how-to-build-a-simple-movie-recommender-system-with-tags-b9ab5cb3b616

https://github.com/JohnsonKuan/movie-rec-tags

https://surprise.readthedocs.io/en/stable/matrix_factorization.html#surprise.prediction_algorithms.matrix_factorization.SVD

https://github.com/93tilinfinity/svd-recommender

https://towardsdatascience.com/svd-where-model-tuning-goes-wrong-61c269402919

https://www.oprahdaily.com/entertainment/books/a29576863/types-of-book-genres/

https://github.com/KevinLiao159/MyDataSciencePortfolio/blob/master/movie_recommender/src/als_recommender.py

https://github.com/KevinLiao159/MyDataSciencePortfolio/blob/master/movie_recommender/movie_recommendation_using_NeuMF.ipynb

https://towardsdatascience.com/introduction-to-recommender-systems-1-971bd274f421

https://www.analyticssteps.com/blogs/what-content-based-recommendation-system-machine-learning

# Collaborative filtering
Données utilisées : ratings

Préprocessing : 5% 

. des livres les plus notés

. des utilisateurs les plus collaboratifs (qui ont donné le plus de notes)

Table pivot qui va servir au modèle :

. CF IB

. CF UB

In [ ]:
import pandas as pd
r = pd.read_csv( 'ratings.csv' )
fr = merge_books_users_filter()
rp = pivot_ratings()
def filter_top_5quantile_books():
    reviews_per_book = r.groupby( 'book_id' ).book_id.apply( lambda x: len( x ))
    xb = r['book_id'].value_counts() > reviews_per_book.quantile(0.95)
    yb = xb[xb].index
    bratings = r[r['book_id'].isin(yb)]    
    return bratings
def filter_top_5quantile_users():
    reviews_per_user = r.groupby( 'user_id' ).user_id.apply( lambda x: len( x ))
    xu = r['user_id'].value_counts() > reviews_per_user.quantile(0.95)
    yu = xu[xu].index  #user_ids
    print(yu.shape)
    uratings = r[r['user_id'].isin(yu)]
    return uratings
def merge_books_users_filter():
    uratings = filter_top_5quantile_users()
    bratings = filter_top_5quantile_books()
    return pd.merge(uratings, bratings, on=['user_id', 'book_id', 'rating'])
def pivot_ratings():
    ratings_pivot = fr.pivot_table(columns='user_id', index='book_id', values="rating")
    ratings_pivot.fillna(0, inplace=True)
    return ratings_pivot

## Collabotative filtering item-based

### objectif : 
Proposer un livre similaire à un livre qui a été consulté basé sur la notation des utilisateurs

### Etapes

1 Créer une matrice creuse pour entraîner un modèle knn

2 Proposer les k livres les plus proches à un livre récemment consulté/lu

In [112]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
def recommend_similary_books(book_id):
    book_sparse = csr_matrix(rp)
    model = NearestNeighbors(n_neighbors=10,algorithm='brute')
    model.fit(book_sparse)
    distances, suggestions = model.kneighbors(rp.iloc[book_id, :].values.reshape(1, -1))
    for i in range(len(suggestions)):
        print(rp.index[suggestions[i]])

## Collabotative filtering user-based

### objectif : 
Proposer un livre qui est susceptible d'être bien noté par l'utilisateur (au delà de 4.0 par exemple)

### Etapes 
1 Réduire les données d'entraînement : garder 5% 

. des livres qui sont les plus notés

. des utilisateurs qui ont donné le plus de notes

2 Entraîner un modèle svd sur le dataframe pour estimer la note donnée à un livre par un utilisateur (conditions : livre et utilisateur dans les 5% retenus pour le dataframe d'entraînement)

3 Boucler sur toute la liste des livres et proposer les livres avec les meilleures estimations de note

In [116]:
books_to_rate = book_pivot[book_pivot.loc[:, 53318]==0]

TypeError: '(slice(None, None, None), 53318)' is an invalid key

In [13]:
def build_svd():
    svd=SVD()    
    reader = Reader()
    data = Dataset.load_from_df(final_rating[['user_id', 'book_id', 'rating']], reader)
    trainset = data.build_full_trainset()
    svd.fit(trainset)
    return svd

svd = build_svd()

# step 2 CF UB
def estimate_rating(uid, iid):
    return svd.predict(uid, iid).est

# step 3 CF UB
def recommend_best_est_books(userid, threeshold = 4): 
    # liste des livres que l'utilisateur n'a pas notés
    books_to_rate = book_pivot[book_pivot.loc[:, userid]==0].loc[:, userid]   
    # un dictionnaire pour stocker la note à estimer pour chaque livre
    rating_est={}
    books_to_recommend = []
    # pour chaque livre à noter
    for key, value in books_to_rate.items():
        # ajouter la note estimée au dictionnaire
        rating_est[key]=estimate_rating(userid, key)
        if rating_est[key] >= threeshold :
            books_to_recommend.append(key)
    print (rating_est, books_to_recommend)
    #print ("nombre de livres à recommander : ", len(books_to_recommend))
    #print ("nombre de livres non notés : ", len(rating_est))
    
recommend_best_est_books(53318)

{2: 4.536320652608849, 4: 4.566308875346086, 5: 3.6506668530636457, 7: 4.00191924703036, 9: 3.5966822461546, 10: 4.433079120725114, 11: 4.367642722400431, 12: 4.240534055224804, 15: 4.534014851491184, 16: 4.066287859756868, 19: 4.525886707203237, 22: 3.9552991426748036, 23: 4.610052901050074, 26: 3.876704939670569, 28: 3.906697363752327, 29: 3.878460945838864, 30: 3.7873966495967273, 31: 4.517238113922776, 32: 4.157509107901354, 33: 4.129923055941996, 34: 2.721014549230702, 35: 3.7475801013482175, 36: 4.121294738918336, 38: 3.823754337883272, 39: 3.922087229301363, 40: 3.3433969857779258, 41: 3.7349396896782943, 42: 4.0641280204404175, 43: 4.285517306764438, 44: 3.692294778257733, 45: 3.8937387591600707, 46: 3.9355367205679483, 47: 4.1554082117239455, 48: 3.980655715836488, 49: 2.7561949616310017, 50: 4.562318354772473, 53: 3.369226551394989, 54: 4.243930942692064, 55: 3.4522369025389366, 57: 4.159672551808827, 58: 4.375388470913795, 59: 4.435974094983598, 60: 3.8329249048370726, 61: 4.001315888659371, 62: 3.4939473834775576, 63: 4.261538148912294, 64: 3.70853469808394, 65: 3.5888508843756926, 66: 4.135870560188893, 67: 4.424798958013171, 68: 4.071071285053686, 69: 3.942689403223704, 70: 4.167740838404411, 72: 4.078244807076567, 73: 3.733854726496455, 74: 4.196529261696823, 75: 3.661129725631464, 76: 3.996980305758006, 78: 3.5485611947946296, 79: 3.7566596756936437, 81: 4.259087715894847, 82: 4.165520173203737, 83: 3.9280126598978153, 84: 4.271921450734068, 85: 3.9819498743812805, 87: 4.626235330114934, 88: 3.8365557069373617, 91: 3.8407563708760457, 92: 4.487834340749695, 93: 4.3243412007309985, 94: 4.460811688011322, 95: 4.185514836140971, 96: 3.2529354161488016, 98: 4.255039255396097, 99: 2.9880443603388587, 100: 4.223588655254903, 101: 4.390773627863202, 102: 4.3685020850263125, 103: 4.366931046797007, 104: 4.101531008804255, 105: 3.7395289642229956, 106: 3.8369806323368505, 107: 3.6924441431191384, 108: 3.316438128443384, 109: 4.28126351636215, 110: 4.258320493708944, 111: 3.7077580516033786, 112: 4.393739716081321, 113: 3.7463242092315587, 114: 3.698888547286225, 115: 4.002461826311717, 116: 4.015258446217488, 117: 3.6779291203685043, 118: 4.2007339528249386, 119: 3.920201507607193, 121: 4.048540086424982, 122: 3.3305326930417074, 124: 3.7794514350833017, 125: 4.003689274029501, 126: 4.043348297859854, 127: 4.003961416625973, 129: 3.9565986415356367, 130: 3.652694300323869, 131: 4.245646659471297, 132: 3.4866629038077597, 133: 4.15800134047378, 136: 3.7666853659666817, 137: 4.375662726080253, 138: 3.5262219964072594, 139: 3.524323543537616, 140: 4.313537252974088, 141: 4.479404995558271, 142: 4.3462144902985305, 143: 4.476923839007076, 144: 4.5953046826189095, 145: 3.6106540935247904, 146: 4.094391795515827, 147: 4.149566835460399, 148: 3.8414075842642723, 149: 3.846060805134231, 150: 4.141677459011123, 151: 3.6984506350101976, 152: 3.301119976570441, 154: 3.9849635790024838, 155: 4.865353346819499, 156: 3.598260472232694, 157: 4.452863531149212, 158: 4.296751777312047, 160: 3.9200819809314376, 161: 4.739011873540197, 162: 3.5396227892112875, 163: 4.207283614178129, 164: 4.004743774776044, 166: 3.1685436787888857, 167: 4.0352507240584226, 169: 3.6321914732847316, 170: 3.5451075588509973, 171: 4.266697056478582, 172: 3.9411133210791984, 173: 3.280454838080095, 174: 3.6960104765310637, 176: 4.224398795958002, 177: 3.8816345293205967, 178: 3.3990191764041446, 179: 3.8281835031593596, 180: 3.4251114343630626, 181: 4.0550481326194365, 183: 3.9341526272287815, 184: 4.470146242161435, 185: 3.7815670119467946, 186: 3.8376245036317083, 187: 3.641509926454143, 189: 4.311428153001481, 190: 3.5847319475665995, 191: 3.9309776094344357, 192: 4.564118293349511, 193: 4.226579129569619, 194: 3.145567503281592, 195: 4.5586585363523735, 196: 4.276491803872516, 197: 3.760521138494379, 198: 4.318104666432188, 199: 4.1739153341865345, 200: 4.19999759489801, 201: 3.570472189644474, 202: 3.2990363211624376, 203: 3.557619647696744, 204: 4.336759914973118, 206: 3.720068204977188, 207: 3.84153637086452, 208: 3.8662559558134455, 209: 4.340898741696712, 210: 3.792082742137551, 211: 4.205218638815374, 212: 3.805885315742821, 213: 3.5174547712773534, 214: 3.8085569810453697, 215: 4.406641610623246, 216: 4.1195553083393985, 217: 3.8664196165023927, 221: 3.660875042365942, 222: 4.300211012172208, 223: 3.569328485306442, 224: 3.2922740754702056, 225: 4.265287314812902, 226: 3.803059051810847, 228: 3.533812674939498, 230: 4.0412410807146415, 231: 4.210249536592018, 232: 3.746500176859157, 233: 4.175773804708997, 234: 4.215770443427471, 235: 3.753022959900264, 236: 4.5466123747633125, 237: 3.7792273438351476, 238: 3.9280972146187287, 240: 3.67876327650086, 241: 4.315255929692471, 242: 3.9061078515141587, 244: 3.710378521684256, 245: 3.9365971263067765, 246: 3.336860489402511, 248: 3.9084015701826234, 249: 3.996588116225807, 250: 4.5085704171956875, 252: 4.05172756496204, 253: 3.7763064785340155, 254: 3.5111373459130144, 255: 3.031613561071716, 256: 3.786507982519895, 258: 4.48916554607343, 259: 3.544143401805519, 261: 3.8806288175107344, 262: 4.026050705028674, 263: 4.419625870206576, 264: 3.8417624566139095, 265: 4.212085976291421, 266: 4.173790542108259, 267: 4.597812531571983, 268: 4.093736885230702, 270: 4.506366725340144, 271: 4.276494254732718, 272: 4.085766715455821, 273: 4.073497989238194, 274: 4.383548876354022, 275: 3.9058875587293214, 276: 4.342487647873329, 277: 3.930247068562463, 278: 4.55496460519887, 279: 3.5650264884643534, 280: 3.7911840287753096, 282: 4.173276244051752, 283: 4.3972703143265175, 284: 3.3771113606095327, 285: 4.11099176232708, 287: 2.8678185392164415, 288: 4.489647029249311, 289: 4.03875048176795, 290: 3.708485785580313, 291: 4.324382471849249, 292: 4.2187764094752, 293: 4.276455478357555, 294: 3.909020301977828, 295: 4.621739870801881, 296: 4.536807405255188, 297: 4.206297394989436, 298: 4.0012866530743505, 300: 4.455867065979072, 301: 3.809543883698697, 304: 4.071412377399424, 306: 4.194502559500942, 307: 4.39098039885078, 310: 3.6666295005215, 311: 3.8597524013417086, 312: 3.940660099083977, 313: 4.0315107589844885, 314: 3.58505895147853, 316: 4.195062671708074, 317: 4.122139489190818, 318: 3.8715196262879403, 320: 3.956564781318473, 321: 4.294355487626187, 322: 4.431278154825688, 323: 4.149099471576898, 324: 4.065549523859978, 325: 4.27870318051886, 326: 3.6440600798268923, 327: 4.025305080354909, 328: 4.0673971649257945, 329: 3.9216615373072097, 330: 4.300621120372176, 331: 3.9028742650944466, 333: 4.33535090311841, 335: 4.050805193027353, 337: 3.9350392974438226, 338: 3.71465109419794, 340: 3.5721149599942823, 341: 3.564514599058001, 342: 3.192050521175642, 343: 3.651687213577162, 344: 4.4884942852381835, 345: 3.5077351577556772, 348: 3.538866128785726, 350: 3.7222192265517258, 351: 4.187420661073709, 352: 3.6826960025520523, 353: 4.105488469829089, 354: 3.7554429104874556, 355: 4.244421139300276, 356: 3.4943409618783257, 357: 4.116434755643525, 358: 4.102133068546099, 359: 3.972604489683276, 360: 4.251360255724173, 361: 3.846156169877127, 362: 4.323729324107537, 364: 4.499382088270985, 368: 3.72804188152498, 371: 3.4374049604384718, 372: 4.246349958734018, 373: 4.324208784324999, 374: 4.288747937086526, 375: 4.035629914777611, 376: 3.5701800537929342, 377: 4.355471754228407, 378: 4.019001751163668, 379: 4.209668678827615, 381: 3.586154131594747, 383: 3.5502143661321077, 384: 3.867791784012635, 387: 3.640797831214099, 388: 3.6273478583844834, 389: 4.65434116327507, 390: 3.9974517753370815, 395: 3.6366515460106728, 396: 4.133458965267015, 399: 3.946717640836252, 400: 3.842894296563607, 401: 3.475247629378195, 402: 4.263194737202198, 404: 4.050030300680192, 405: 4.066745961378668, 407: 3.929562745503026, 408: 4.233213290348992, 409: 4.5346821890255695, 410: 3.8521965640890943, 413: 4.038092344455127, 414: 3.81429774768341, 416: 4.485610312486614, 417: 4.029281523453386, 421: 3.4427847007104746, 423: 3.678805919500802, 424: 4.093118164871638, 425: 3.93234558450177, 426: 3.8707572419581417, 427: 4.549897155514538, 429: 4.179933964431766, 431: 4.28862291993233, 432: 4.174954249702621, 436: 3.9059417031189034, 437: 4.164606593161515, 438: 3.9923729433582578, 440: 4.087732370690062, 444: 4.579123735852804, 447: 3.6877791216904137, 451: 3.9625149015141563, 453: 3.634774267141463, 456: 4.076682640420073, 457: 3.8512662831341546, 458: 4.080016218723895, 459: 4.288709059714864, 461: 3.809029810104924, 463: 4.1216338721611585, 467: 4.204701844801526, 468: 4.080484460561122, 471: 3.796676954881019, 476: 4.347373412070883, 478: 3.8299419933533394, 479: 3.7724189972319455, 480: 3.688071648952912, 483: 3.983815590915195, 485: 4.192028031854172, 487: 3.8330346801199786, 492: 4.078536090693811, 494: 4.1677874820708904, 495: 4.114289029984242, 496: 4.066893530230178, 497: 4.03828220721101, 498: 3.5888105959454406, 501: 4.185677503289472, 503: 4.223912741690059, 510: 4.34679798312449, 512: 4.129164888210258, 514: 4.206888987569103, 515: 3.9346764260806357, 516: 4.1801968584558935, 519: 3.7736609857665497, 522: 4.092349412370908, 523: 4.1506648593988045, 527: 3.7352288513734813, 529: 3.7891733592523047, 530: 4.2859985146204345, 531: 3.1319918095106156, 533: 3.533445280703813, 534: 4.063709362280279, 538: 4.253825426277226, 540: 4.362858521201844, 542: 4.140037511784809, 544: 4.509535866259046, 545: 4.204339039636645, 546: 3.97465380103292, 547: 3.997254290863664, 551: 3.904834505021036, 556: 3.486414593747933, 557: 3.7880247470824178, 558: 3.7777492889716258, 559: 3.6095639664539028, 560: 3.72392451320686, 561: 4.012668173469539, 563: 3.6812432354366402, 570: 4.157852187528464, 572: 3.9404250541079393, 575: 3.8224593482182656, 576: 3.7011188229496663, 577: 4.077561817039205, 584: 4.012250958343398, 590: 3.7823517939158244, 593: 4.240561314033811, 595: 3.6244971233848258, 596: 3.620867316194827, 597: 3.8106894713209027, 599: 4.233834591999496, 602: 4.258181039450775, 612: 4.249513514002041, 620: 4.183702041134376, 621: 4.156664562867161, 631: 3.66207143449329, 637: 4.422194050871871, 639: 4.006872712321503, 641: 4.099512269628491, 646: 3.4088103844281563, 650: 3.7924367754439046, 652: 3.7379542273303175, 658: 3.6371784827327853, 666: 4.076853315936433, 681: 4.393696202604452, 682: 4.1464704796477445, 693: 3.9050352527270156, 704: 4.440824698323904, 714: 4.011698587487125, 715: 3.8100036102589887, 730: 3.5878753589679637, 733: 4.021305007398291, 773: 4.174624116476876, 826: 3.8983165976036744} [2, 4, 7, 10, 11, 12, 15, 16, 19, 23, 31, 32, 33, 36, 42, 43, 47, 50, 54, 57, 58, 59, 61, 63, 66, 67, 68, 70, 72, 74, 81, 82, 84, 87, 92, 93, 94, 95, 98, 100, 101, 102, 103, 104, 109, 110, 112, 115, 116, 118, 121, 125, 126, 127, 131, 133, 137, 140, 141, 142, 143, 144, 146, 147, 150, 155, 157, 158, 161, 163, 164, 167, 171, 176, 181, 184, 189, 192, 193, 195, 196, 198, 199, 200, 204, 209, 211, 215, 216, 222, 225, 230, 231, 233, 234, 236, 241, 250, 252, 258, 262, 263, 265, 266, 267, 268, 270, 271, 272, 273, 274, 276, 278, 282, 283, 285, 288, 289, 291, 292, 293, 295, 296, 297, 298, 300, 304, 306, 307, 313, 316, 317, 321, 322, 323, 324, 325, 327, 328, 330, 333, 335, 344, 351, 353, 355, 357, 358, 360, 362, 364, 372, 373, 374, 375, 377, 378, 379, 389, 396, 402, 404, 405, 408, 409, 413, 416, 417, 424, 427, 429, 431, 432, 437, 440, 444, 456, 458, 459, 463, 467, 468, 476, 485, 492, 494, 495, 496, 497, 501, 503, 510, 512, 514, 516, 522, 523, 530, 534, 538, 540, 542, 544, 545, 561, 570, 577, 584, 593, 599, 602, 612, 620, 621, 637, 639, 641, 666, 681, 682, 704, 714, 733, 773]

In [ ]:

# step 3 CF UB
def estimate_books_not_read(userid): 
    # liste des livres que l'utilisateur n'a pas notés
    books_to_rate = book_pivot[book_pivot.loc[:, userid]==0].loc[:, userid]   
    # un dictionnaire pour stocker la note à estimer pour chaque livre
    rating_est={}
    # pour chaque livre à noter
    for key, value in books_to_rate.items():
        # ajouter la note estimée au dictionnaire
        rating_est[key]=estimate_rating(userid, key)
    return (rating_est)
    
def filter_best_est_books(userid, threeshold = 4):
    est = estimate_books_not_read(userid)
    
recommend_best_est_books(53318)

In [140]:
# step 3 CF UB
def recommend_best_est_books(userid, threeshold = 4): 
    # liste des livres que l'utilisateur n'a pas notés
    books_to_rate = book_pivot[book_pivot.loc[:, userid]==0].loc[:, userid]   
    # un dictionnaire pour stocker la note à estimer pour chaque livre
    rating_est={}
    books_to_recommend = []
    # pour chaque livre à noter
    for key, value in books_to_rate.items():
        # ajouter la note estimée au dictionnaire
        rating_est[key]=estimate_rating(userid, key)
        if rating_est[key] >= threeshold :
            books_to_recommend.append(key)
    print (rating_est, books_to_recommend)
    print ("nombre de livres à recommander : ", len(books_to_recommend))
    print ("nombre de livres non notés : ", len(rating_est))
    
recommend_best_est_books(53318)

{'11/22/63': 4.248941658829858, '2001: A Space Odyssey (Space Odyssey, #1)': 4.050467769955871, 'A Child Called "It" (Dave Pelzer #1)': 3.8812127087412565, 'A Christmas Carol': 4.086098926937996, 'A Clash of Kings  (A Song of Ice and Fire, #2)': 4.0116026967509, 'A Clockwork Orange': 3.7785658851609094, 'A Confederacy of Dunces': 3.5372558410663353, 'A Discovery of Witches (All Souls Trilogy, #1)': 3.866251090776611, 'A Farewell to Arms': 3.9503166111002312, 'A Game of Thrones (A Song of Ice and Fire, #1)': 4.36141145109948, 'A Heartbreaking Work of Staggering Genius': 3.9863211873518094, 'A Light in the Attic': 4.390094933460714, 'A Little Princess': 4.487779376154226, 'A Man Called Ove': 4.46175414946937, "A Midsummer Night's Dream": 4.145846387647004, 'A Million Little Pieces': 3.2568504928100785, 'A Prayer for Owen Meany': 4.245824264447997, 'A Separate Peace': 4.142397090558376, 'A Short History of Nearly Everything': 4.239179303813817, 'A Streetcar Named Desire': 4.158036646993948, 'A Tale of Two Cities': 3.83254605371896, 'A Thousand Splendid Suns': 4.233828338379996, 'A Tree Grows in Brooklyn': 4.513315141212345, 'A Walk in the Woods': 3.952953046541195, 'A Walk to Remember': 3.6678777397617432, 'A Wizard of Earthsea (Earthsea Cycle, #1)': 4.165879806668354, 'A Wrinkle in Time (A Wrinkle in Time Quintet, #1)': 4.614698670557334, 'All Quiet on the Western Front': 3.970554193784881, 'All the Light We Cannot See': 4.533138680442455, 'Allegiant (Divergent, #3)': 3.0524795766787705, 'Along Came a Spider (Alex Cross, #1)': 3.7821646127306843, 'American Gods (American Gods, #1)': 4.167403789499969, 'An Abundance of Katherines': 3.9296784613238884, 'Anansi Boys': 4.145448847418414, 'And Then There Were None': 3.9166925182293855, 'And the Mountains Echoed': 4.17547127906296, "Angela's Ashes (Frank McCourt, #1)": 3.996960095032335, 'Angels & Demons  (Robert Langdon, #1)': 3.225562852211978, 'Anna Karenina': 3.668007692376115, 'Anne of Green Gables (Anne of Green Gables, #1)': 4.493213511291402, "Are You There God? It's Me, Margaret": 3.8987375094648278, 'Artemis Fowl (Artemis Fowl, #1)': 4.044052174513954, 'Atlas Shrugged': 3.507741963451493, 'Atonement': 4.032833362734089, 'Beautiful Disaster (Beautiful, #1)': 3.3007958588502935, 'Bel Canto': 4.158066627891936, 'Beloved': 3.8622558902436417, 'Beowulf': 3.464572984765428, 'Big Little Lies': 4.282201886920321, 'Black Beauty': 3.994972291745751, 'Blink: The Power of Thinking Without Thinking': 3.8934107865288974, 'Bossypants': 4.047082626822165, 'Brave New World': 3.898173886321921, 'Breakfast of Champions': 4.043399543305033, 'Bridge to Terabithia': 4.134948615583542, "Bridget Jones's Diary (Bridget Jones, #1)": 3.688067152277133, 'Brisingr (The Inheritance Cycle, #3)': 3.6251563417650714, 'Candide': 4.0098229655164, 'Carrie': 3.70475480844447, "Cat's Cradle": 4.012184170889309, 'Catch-22': 4.3595968851802755, 'Charlie and the Chocolate Factory (Charlie Bucket, #1)': 4.208592510041776, "Charlotte's Web": 4.514339821204104, 'Cinder (The Lunar Chronicles, #1)': 4.043190609485951, 'Clockwork Angel (The Infernal Devices, #1)': 3.996591552778642, 'Clockwork Prince (The Infernal Devices, #2)': 3.9986308767188046, 'Cloud Atlas': 4.283573172651931, 'Club Dead (Sookie Stackhouse, #3)': 3.8178228672208827, 'Cold Mountain': 3.778370384397108, 'Confessions of a Shopaholic (Shopaholic, #1)': 3.032265220463942, 'Coraline': 4.173173113377622, 'Crime and Punishment': 3.8777944916629243, 'Cujo': 3.3753827906515546, 'Cutting for Stone': 4.532705688479745, 'Dark Places': 3.824661271700942, 'David Copperfield': 3.861988143100561, 'Dead Until Dark (Sookie Stackhouse, #1)': 3.9040700002998014, 'Dead as a Doornail (Sookie Stackhouse, #5)': 3.7560982095709967, 'Dead to the World (Sookie Stackhouse, #4)': 3.8967837694155563, 'Dear John': 2.916037234978148, 'Death of a Salesman': 3.9578773641142857, 'Deception Point': 3.2133577243426457, 'Defending Jacob': 3.9415794094912844, 'Definitely Dead (Sookie Stackhouse, #6)': 3.647163378991976, 'Delirium (Delirium, #1)': 3.5966757448825275, 'Digital Fortress': 3.2863599362091027, 'Divergent (Divergent, #1)': 3.8652399618631823, 'Divine Secrets of the Ya-Ya Sisterhood': 3.4815145927926814, 'Do Androids Dream of Electric Sheep?': 4.512701691764972, 'Don Quixote': 3.800043767892803, 'Dragonfly in Amber (Outlander, #2)': 4.179227766227792, 'Dress Your Family in Corduroy and Denim': 3.7127743643725006, 'Dune (Dune Chronicles #1)': 4.102104060995162, 'East of Eden': 4.366712218676769, 'Eat, Pray, Love': 3.325750720410279, 'Eldest (The Inheritance Cycle, #2)': 3.6879766442762274, 'Eleanor & Park': 4.072688638898127, 'Ella Enchanted': 3.947476603438574, 'Emma': 3.689182068295419, "Ender's Game (Ender's Saga, #1)": 4.403230041722423, 'Eragon (The Inheritance Cycle, #1)': 3.884939573577423, 'Extremely Loud and Incredibly Close': 4.234028881470707, 'Fahrenheit 451': 4.195208763529444, 'Fall of Giants (The Century Trilogy, #1)': 3.991148232556368, 'Fallen (Fallen, #1)': 3.176725494270591, 'Fangirl': 4.047082642328564, 'Fear and Loathing in Las Vegas': 4.223409130252176, 'Fifty Shades Darker (Fifty Shades, #2)': 3.0542778711665397, 'Fifty Shades Freed (Fifty Shades, #3)': 3.1200513475547216, 'Fifty Shades of Grey (Fifty Shades, #1)': 2.5697507463916804, 'Fight Club': 4.220243099668713, 'Flowers for Algernon': 4.361747118464372, 'For Whom the Bell Tolls': 4.271210325993163, 'Foundation (Foundation #1)': 4.335330228382442, 'Franny and Zooey': 3.8806392358331316, 'Freakonomics: A Rogue Economist Explores the Hidden Side of Everything (Freakonomics, #1)': 4.3893237869826045, 'Fried Green Tomatoes at the Whistle Stop Cafe': 4.2714074453140585, 'Frostbite (Vampire Academy, #2)': 3.7009028541918685, 'Girl with a Pearl Earring': 3.9868095722986006, 'Go Ask Alice': 3.8446461725855907, 'Go Set a Watchman': 3.375166318256355, 'Gone Girl': 3.485221717927596, 'Gone with the Wind': 3.852014348840426, 'Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch': 4.420243397815109, 'Good in Bed (Cannie Shapiro, #1)': 3.8123517820301362, 'Graceling (Graceling Realm, #1)': 4.125289290956859, 'Great Expectations': 3.9313368019310566, 'Green Eggs and Ham': 4.299458326061538, "Gulliver's Travels": 3.5998073105095187, 'Guns, Germs, and Steel: The Fates of Human Societies': 4.121624680950776, 'Hamlet': 4.00450103690824, 'Harry Potter and the Chamber of Secrets (Harry Potter, #2)': 4.696894603866331, 'Harry Potter and the Cursed Child - Parts One and Two (Harry Potter, #8)': 3.4939458976865536, "Harry Potter and the Sorcerer's Stone (Harry Potter, #1)": 4.9203165126272115, "Hatchet (Brian's Saga, #1)": 3.8270246499903897, 'Heart of Darkness': 3.0962698240154514, 'Heidi': 3.781418153865275, 'High Fidelity': 4.200166328583788, 'Hotel on the Corner of Bitter and Sweet': 4.054289455159813, 'How the Grinch Stole Christmas!': 4.401778897654003, 'Hush, Hush (Hush, Hush, #1)': 3.284743290807328, 'I Am Number Four (Lorien Legacies, #1)': 3.6458295670133687, 'I Know This Much Is True': 4.1666382728327065, 'I Know Why the Caged Bird Sings': 4.138461595794326, 'I, Robot (Robot #0.1)': 3.8881117623607344, 'If I Stay (If I Stay, #1)': 3.92259569718111, 'In Cold Blood': 4.418930568642335, 'Inferno (Robert Langdon, #4)': 3.212787635359209, 'Inkheart (Inkworld, #1)': 3.647881225230013, 'Insurgent (Divergent, #2)': 3.554764996420276, 'Into Thin Air: A Personal Account of the Mount Everest Disaster': 4.0883747304329425, 'Into the Wild': 4.052947275956125, 'Is Everyone Hanging Out Without Me? (And Other Concerns)': 3.905897802677216, 'It': 3.6666058130658983, 'James and the Giant Peach': 4.109903797693623, 'Jane Eyre': 4.230586213065058, 'Jonathan Strange & Mr Norrell': 4.51535142265926, 'Jurassic Park (Jurassic Park, #1)': 4.030939833788952, 'King Lear': 4.123962460294044, 'Kiss the Girls (Alex Cross, #2)': 3.712148638371842, 'Legend (Legend, #1)': 3.7444558119311337, 'Les Misérables': 4.172634766445834, 'Life After Life': 3.882787324535907, 'Life of Pi': 4.060097170331584, 'Like Water for Chocolate': 4.183884779411451, 'Little Bee': 3.8216658290657826, 'Little House in the Big Woods (Little House, #1)': 4.169520619618735, 'Little House on the Prairie (Little House, #2)': 4.48905516562304, 'Little Women (Little Women, #1)': 3.9303417123387163, 'Living Dead in Dallas (Sookie Stackhouse, #2)': 4.008061167217889, 'Lolita': 3.5808893659130683, 'Looking for Alaska': 4.051529613887207, 'Lord of the Flies': 4.1750638781143925, 'Love in the Time of Cholera': 3.8649820246521487, 'Macbeth': 4.091186188961363, 'Madame Bovary': 3.8633214997958496, 'Mansfield Park': 3.8833416604050393, 'Marked (House of Night, #1)': 3.244676033420546, "Marley and Me: Life and Love With the World's Worst Dog": 3.9365680115518233, 'Matched (Matched, #1)': 3.277482448890713, 'Matilda': 4.3735028533997635, 'Me Before You (Me Before You, #1)': 4.226130967219984, 'Me Talk Pretty One Day': 4.035430339227329, 'Memoirs of a Geisha': 4.08538841513571, 'Middlesex': 4.596664589299979, 'Midnight in the Garden of Good and Evil': 4.069223761355564, 'Miss Peregrine’s Home for Peculiar Children (Miss Peregrine’s Peculiar Children, #1)': 3.8915821954388683, 'Moby-Dick or, The Whale': 3.380319017193269, 'Much Ado About Nothing': 4.227797526169445, "My Sister's Keeper": 3.8058585815178056, 'Naked': 4.095710377869019, 'Neuromancer': 4.05794091808834, 'Never Let Me Go': 4.158783248841075, 'Neverwhere': 4.44590086288937, 'New Moon (Twilight, #2)': 2.8862386988079907, 'Night (The Night Trilogy #1)': 4.6422522451884065, 'Nineteen Minutes': 4.266635294160416, 'Northanger Abbey': 3.7231297962263965, 'Number the Stars': 4.4388155190511105, 'Of Mice and Men': 3.908473859586369, "Oh, The Places You'll Go!": 3.959072896239893, 'Oliver Twist': 3.920852151446286, 'On the Road': 3.6792416753292434, 'One Day': 3.7038162370292573, "One Flew Over the Cuckoo's Nest": 4.22084194336638, 'One Hundred Years of Solitude': 3.8647163926950903, 'One for the Money (Stephanie Plum, #1)': 4.041068926840108, 'Orphan Train': 4.130393859878846, 'Oryx and Crake (MaddAddam, #1)': 4.25922352830406, 'Othello': 4.0930103037567, 'Outlander (Outlander, #1)': 4.195576061875206, 'Outliers: The Story of Success': 4.096402579979355, 'Paper Towns': 4.103211990758632, 'Persuasion': 3.838289150637338, 'Pretties (Uglies, #2)': 3.7779689642124907, 'Pride and Prejudice': 4.312304654410007, 'Ready Player One': 4.318279328134836, 'Rebecca': 4.186910589883169, 'Red Dragon (Hannibal Lecter, #1)': 3.95564527985285, 'Robinson Crusoe': 4.068073446464569, 'Romeo and Juliet': 3.988797843350498, 'Room': 4.178620507388776, 'Running with Scissors': 3.664871011300437, "Sarah's Key": 3.9192040874869263, 'Sense and Sensibility': 3.738728787527597, 'Sharp Objects': 3.779709534606837, "She's Come Undone": 3.985222671644798, 'Shiver (The Wolves of Mercy Falls, #1)': 3.717447049472727, 'Siddhartha': 3.9308072457959935, 'Slaughterhouse-Five': 3.8706861793586778, 'Snow Falling on Cedars': 4.14912558161919, 'Snow Flower and the Secret Fan': 3.981031925366945, 'Something Borrowed (Darcy & Rachel, #1)': 3.250621923736063, 'Speak': 3.927763238758299, "Speaker for the Dead (Ender's Saga, #2)": 4.177918201597281, 'Sphere': 3.626374908602767, 'Stardust': 4.303331291511844, 'Station Eleven': 4.316252329811823, 'Still Alice': 4.352497476001197, 'Stranger in a Strange Land': 3.983600528071733, "Tess of the D'Urbervilles": 3.6910222083305784, 'The Adventures of Huckleberry Finn': 3.924627416138127, 'The Adventures of Sherlock Holmes': 4.236820500532106, 'The Adventures of Tom Sawyer': 4.061308971248602, 'The Alchemist': 3.7105616417532103, 'The Amazing Adventures of Kavalier & Clay': 4.156644313236145, 'The Amber Spyglass (His Dark Materials, #3)': 3.874326898007569, 'The Andromeda Strain': 4.006116679916065, 'The Art of Racing in the Rain': 4.019233661724585, 'The BFG': 4.5893705159424085, 'The Bad Beginning (A Series of Unfortunate Events, #1)': 3.564324715405121, 'The Bell Jar': 3.9077900139186137, 'The Book Thief': 4.2154836442039025, 'The Bourne Identity (Jason Bourne, #1)': 4.139558282945334, 'The Boy in the Striped Pajamas': 4.01732247830061, 'The Brief Wondrous Life of Oscar Wao': 4.461585295666185, 'The Brothers Karamazov': 4.006774094443584, 'The Call of the Wild': 4.072679395771101, 'The Canterbury Tales': 3.7768196046130114, 'The Casual Vacancy': 3.0356086163631324, 'The Cider House Rules': 4.348037704061722, "The Clan of the Cave Bear (Earth's Children, #1)": 3.937051578701369, 'The Color Purple': 4.097121330373432, 'The Color of Magic (Discworld, #1; Rincewind #1)': 4.3373182244087065, 'The Complete Stories and Poems': 4.230199653656649, 'The Corrections': 3.872554592114143, 'The Count of Monte Cristo': 4.388896782400864, 'The Crucible': 3.8596283390433443, "The Cuckoo's Calling (Cormoran Strike, #1)": 4.02017572953936, 'The Curious Incident of the Dog in the Night-Time': 4.138600950962036, 'The Da Vinci Code (Robert Langdon, #2)': 3.2621951449211792, 'The Death Cure (Maze Runner, #3)': 3.8504663369347583, 'The Devil Wears Prada (The Devil Wears Prada, #1)': 3.6616600017737353, 'The Devil in the White City: Murder, Magic, and Madness at the Fair That Changed America': 4.252616788425691, 'The Diary of a Young Girl': 4.034642506238547, 'The Drawing of the Three (The Dark Tower, #2)': 4.349236447555785, 'The Elite (The Selection, #2)': 3.54144528106196, 'The Eye of the World (Wheel of Time, #1)': 3.937153851962611, 'The Fellowship of the Ring (The Lord of the Rings, #1)': 4.603135728566893, 'The Final Empire (Mistborn, #1)': 4.7277639562208185, 'The Five People You Meet in Heaven': 3.641741291772467, 'The Fountainhead': 3.7422864378026186, "The Girl Who Kicked the Hornet's Nest (Millennium, #3)": 3.690165063593118, 'The Girl Who Played with Fire (Millennium, #2)': 3.9113377089104224, 'The Girl on the Train': 3.43477922719748, 'The Girl with the Dragon Tattoo (Millennium, #1)': 3.58261720876552, 'The Giver (The Giver, #1)': 4.346020936347035, 'The Giving Tree': 4.2555635486115335, 'The Glass Castle': 3.723312205822874, 'The God of Small Things': 4.026835643138974, 'The Godfather': 4.111919453479997, 'The Golden Compass (His Dark Materials, #1)': 4.127190692641091, 'The Goldfinch': 3.8790726288412314, 'The Good Earth (House of Earth, #1)': 4.173562199216839, 'The Grapes of Wrath': 3.899939452738569, 'The Graveyard Book': 4.390709106297831, 'The Great Gatsby': 4.009205719183109, 'The Great Hunt (Wheel of Time, #2)': 3.914506037379522, 'The Guernsey Literary and Potato Peel Pie Society': 4.189310469115595, 'The Gunslinger (The Dark Tower, #1)': 4.175426063638078, "The Handmaid's Tale": 4.70390257869643, 'The Help': 4.191448585369438, 'The Historian': 3.199788891245058, "The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)": 4.672486237633983, 'The Hobbit': 4.630901195666423, 'The Horse and His Boy (Chronicles of Narnia, #5)': 3.9068531785467786, 'The Host (The Host, #1)': 3.3816317863597396, 'The Hunt for Red October (Jack Ryan Universe, #4)': 4.116675260558174, "The Husband's Secret": 4.233692720090431, 'The Iliad': 3.904494540771356, 'The Immortal Life of Henrietta Lacks': 3.958591581103459, 'The Importance of Being Earnest': 4.259226630785532, 'The Invention of Wings': 4.128431435760046, 'The Joy Luck Club': 3.9110009707605498, 'The Kite Runner': 4.266082989645239, 'The Last Battle (Chronicles of Narnia, #7)': 3.9951744618559215, 'The Last Lecture': 4.132647007332001, 'The Last Song': 3.2195899864169597, 'The Light Between Oceans': 3.8173523370992264, 'The Lightning Thief (Percy Jackson and the Olympians, #1)': 3.8906666375043097, 'The Lord of the Rings (The Lord of the Rings, #1-3)': 4.881351505052578, 'The Lost Hero (The Heroes of Olympus, #1)': 4.186669410744778, 'The Lost Symbol (Robert Langdon, #3)': 3.1257102496623883, 'The Lovely Bones': 4.12419996161791, 'The Magicians (The Magicians #1)': 3.454965779003074, 'The Martian': 4.266658391850209, 'The Martian Chronicles': 3.93169381292714, 'The Maze Runner (Maze Runner, #1)': 3.4809680254378144, "The Memory Keeper's Daughter": 3.6010060271821036, 'The Metamorphosis': 3.74558751374912, 'The Mists of Avalon (Avalon, #1)': 4.143850114950577, 'The Name of the Rose': 4.219438701351559, 'The Name of the Wind (The Kingkiller Chronicle, #1)': 4.516902539025193, 'The Namesake': 3.7134310417165697, 'The Nanny Diaries (Nanny, #1)': 3.4607548622465343, 'The Night Circus': 4.161463026996905, 'The Nightingale': 4.256985947795142, "The No. 1 Ladies' Detective Agency  (No. 1 Ladies' Detective Agency, #1)": 3.863890765859404, 'The Notebook (The Notebook, #1)': 3.4150830630814153, 'The Ocean at the End of the Lane': 4.16326689240779, 'The Odyssey': 4.145289645292108, 'The Old Man and the Sea': 3.838332076789028, 'The Other Boleyn Girl (The Plantagenet and Tudor Novels, #9)': 3.968448704424363, 'The Pact': 4.14909497763772, 'The Paris Wife': 3.822054956011077, 'The Pearl': 3.5589816789485704, 'The Perks of Being a Wallflower': 4.246364908511511, 'The Phantom Tollbooth': 4.470169685861517, 'The Picture of Dorian Gray': 3.8409853542034122, 'The Pillars of the Earth (The Kingsbridge Series, #1)': 3.938055954320635, 'The Poisonwood Bible': 4.302817172908881, 'The Prince': 3.691060774800915, 'The Prince of Tides': 4.209591449921652, 'The Rainmaker': 3.846338978331363, 'The Red Tent': 4.02459105340386, "The Restaurant at the End of the Universe (Hitchhiker's Guide, #2)": 4.125544547896859, 'The Return of the King (The Lord of the Rings, #3)': 4.852264128006437, 'The Road': 3.7368679636983164, 'The Rosie Project (Don Tillman, #1)': 4.207004374859163, 'The Runaway Jury': 4.0235646099238105, 'The Scarlet Letter': 3.0514290416903327, 'The Scorch Trials (Maze Runner, #2)': 3.5938642616750225, 'The Screwtape Letters': 4.249580474637243, 'The Sea of Monsters (Percy Jackson and the Olympians, #2)': 3.835019057928691, 'The Secret Garden': 4.464566202657413, 'The Secret History': 4.253951305265632, 'The Secret Life of Bees': 3.973898520461813, 'The Selection (The Selection, #1)': 3.6285123572271036, 'The Shack': 3.646341944984446, 'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)': 4.362820713174115, 'The Shining (The Shining #1)': 4.277280856297527, 'The Silence of the Lambs  (Hannibal Lecter, #2)': 4.0889196633936535, 'The Silver Chair (Chronicles of Narnia, #4)': 4.297798598284327, 'The Son of Neptune (The Heroes of Olympus, #2)': 3.960621642436487, 'The Strange Case of Dr. Jekyll and Mr. Hyde': 3.617920707919922, 'The Stranger': 3.928553407221807, 'The Subtle Knife (His Dark Materials, #2)': 4.070064755678437, 'The Sun Also Rises': 4.003397852950879, 'The Tales of Beedle the Bard': 3.878479877112005, 'The Taming of the Shrew': 3.940102561491374, 'The Tell-Tale Heart and Other Writings': 3.636721946016994, 'The Things They Carried': 4.305792331084189, 'The Thirteenth Tale': 4.131584360623188, 'The Thorn Birds': 3.8569204193736013, 'The Three Musketeers': 3.984555337927238, 'The Time Machine': 3.692756943314958, "The Time Traveler's Wife": 4.090993003423403, 'The Tipping Point: How Little Things Can Make a Big Difference': 4.248034611306469, "The Titan's Curse (Percy Jackson and the Olympians, #3)": 3.8444374222135966, 'The Two Towers (The Lord of the Rings, #2)': 4.832497738860547, "The Ultimate Hitchhiker's Guide to the Galaxy": 4.5676296390308355, 'The Unbearable Lightness of Being': 4.006219391149144, 'The Velveteen Rabbit': 4.348284594997344, 'The Very Hungry Caterpillar Board Book': 4.293538190760992, 'The Virgin Suicides': 4.211815124567224, 'The Voyage of the Dawn Treader (Chronicles of Narnia, #3)': 4.150907974336267, 'The War of the Worlds': 3.5605724076079035, 'The Wind in the Willows': 4.168492425768168, "The Wise Man's Fear (The Kingkiller Chronicle, #2)": 4.843904816756757, 'The Witches': 4.351489904116535, 'The World According to Garp': 4.22816427420696, 'Their Eyes Were Watching God': 3.8283167143397883, 'Things Fall Apart (The African Trilog

In [130]:
books_to_rate = book_pivot[book_pivot.loc[:, 53318]==0].loc[:, 53318]

In [131]:
books_to_rate

title
11/22/63                                                             0.0
2001: A Space Odyssey (Space Odyssey, #1)                            0.0
A Child Called "It" (Dave Pelzer #1)                                 0.0
A Christmas Carol                                                    0.0
A Clash of Kings  (A Song of Ice and Fire, #2)                       0.0
                                                                    ...
Winnie-the-Pooh (Winnie-the-Pooh, #1)                                0.0
Wonder                                                               0.0
Wuthering Heights                                                    0.0
Yes Please                                                           0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values    0.0
Name: 53318, Length: 435, dtype: float64

In [133]:
rating_est={}
for key, value in books_to_rate.items():
    # ajouter la note estimée au dictionnaire
    rating_est[key]=estimate_rating(53318, key)
print (rating_est)

{'11/22/63': 4.248941658829858, '2001: A Space Odyssey (Space Odyssey, #1)': 4.050467769955871, 'A Child Called "It" (Dave Pelzer #1)': 3.8812127087412565, 'A Christmas Carol': 4.086098926937996, 'A Clash of Kings  (A Song of Ice and Fire, #2)': 4.0116026967509, 'A Clockwork Orange': 3.7785658851609094, 'A Confederacy of Dunces': 3.5372558410663353, 'A Discovery of Witches (All Souls Trilogy, #1)': 3.866251090776611, 'A Farewell to Arms': 3.9503166111002312, 'A Game of Thrones (A Song of Ice and Fire, #1)': 4.36141145109948, 'A Heartbreaking Work of Staggering Genius': 3.9863211873518094, 'A Light in the Attic': 4.390094933460714, 'A Little Princess': 4.487779376154226, 'A Man Called Ove': 4.46175414946937, "A Midsummer Night's Dream": 4.145846387647004, 'A Million Little Pieces': 3.2568504928100785, 'A Prayer for Owen Meany': 4.245824264447997, 'A Separate Peace': 4.142397090558376, 'A Short History of Nearly Everything': 4.239179303813817, 'A Streetcar Named Desire': 4.158036646993948, 'A Tale of Two Cities': 3.83254605371896, 'A Thousand Splendid Suns': 4.233828338379996, 'A Tree Grows in Brooklyn': 4.513315141212345, 'A Walk in the Woods': 3.952953046541195, 'A Walk to Remember': 3.6678777397617432, 'A Wizard of Earthsea (Earthsea Cycle, #1)': 4.165879806668354, 'A Wrinkle in Time (A Wrinkle in Time Quintet, #1)': 4.614698670557334, 'All Quiet on the Western Front': 3.970554193784881, 'All the Light We Cannot See': 4.533138680442455, 'Allegiant (Divergent, #3)': 3.0524795766787705, 'Along Came a Spider (Alex Cross, #1)': 3.7821646127306843, 'American Gods (American Gods, #1)': 4.167403789499969, 'An Abundance of Katherines': 3.9296784613238884, 'Anansi Boys': 4.145448847418414, 'And Then There Were None': 3.9166925182293855, 'And the Mountains Echoed': 4.17547127906296, "Angela's Ashes (Frank McCourt, #1)": 3.996960095032335, 'Angels & Demons  (Robert Langdon, #1)': 3.225562852211978, 'Anna Karenina': 3.668007692376115, 'Anne of Green Gables (Anne of Green Gables, #1)': 4.493213511291402, "Are You There God? It's Me, Margaret": 3.8987375094648278, 'Artemis Fowl (Artemis Fowl, #1)': 4.044052174513954, 'Atlas Shrugged': 3.507741963451493, 'Atonement': 4.032833362734089, 'Beautiful Disaster (Beautiful, #1)': 3.3007958588502935, 'Bel Canto': 4.158066627891936, 'Beloved': 3.8622558902436417, 'Beowulf': 3.464572984765428, 'Big Little Lies': 4.282201886920321, 'Black Beauty': 3.994972291745751, 'Blink: The Power of Thinking Without Thinking': 3.8934107865288974, 'Bossypants': 4.047082626822165, 'Brave New World': 3.898173886321921, 'Breakfast of Champions': 4.043399543305033, 'Bridge to Terabithia': 4.134948615583542, "Bridget Jones's Diary (Bridget Jones, #1)": 3.688067152277133, 'Brisingr (The Inheritance Cycle, #3)': 3.6251563417650714, 'Candide': 4.0098229655164, 'Carrie': 3.70475480844447, "Cat's Cradle": 4.012184170889309, 'Catch-22': 4.3595968851802755, 'Charlie and the Chocolate Factory (Charlie Bucket, #1)': 4.208592510041776, "Charlotte's Web": 4.514339821204104, 'Cinder (The Lunar Chronicles, #1)': 4.043190609485951, 'Clockwork Angel (The Infernal Devices, #1)': 3.996591552778642, 'Clockwork Prince (The Infernal Devices, #2)': 3.9986308767188046, 'Cloud Atlas': 4.283573172651931, 'Club Dead (Sookie Stackhouse, #3)': 3.8178228672208827, 'Cold Mountain': 3.778370384397108, 'Confessions of a Shopaholic (Shopaholic, #1)': 3.032265220463942, 'Coraline': 4.173173113377622, 'Crime and Punishment': 3.8777944916629243, 'Cujo': 3.3753827906515546, 'Cutting for Stone': 4.532705688479745, 'Dark Places': 3.824661271700942, 'David Copperfield': 3.861988143100561, 'Dead Until Dark (Sookie Stackhouse, #1)': 3.9040700002998014, 'Dead as a Doornail (Sookie Stackhouse, #5)': 3.7560982095709967, 'Dead to the World (Sookie Stackhouse, #4)': 3.8967837694155563, 'Dear John': 2.916037234978148, 'Death of a Salesman': 3.9578773641142857, 'Deception Point': 3.2133577243426457, 'Defending Jacob': 3.9415794094912844, 'Definitely Dead (Sookie Stackhouse, #6)': 3.647163378991976, 'Delirium (Delirium, #1)': 3.5966757448825275, 'Digital Fortress': 3.2863599362091027, 'Divergent (Divergent, #1)': 3.8652399618631823, 'Divine Secrets of the Ya-Ya Sisterhood': 3.4815145927926814, 'Do Androids Dream of Electric Sheep?': 4.512701691764972, 'Don Quixote': 3.800043767892803, 'Dragonfly in Amber (Outlander, #2)': 4.179227766227792, 'Dress Your Family in Corduroy and Denim': 3.7127743643725006, 'Dune (Dune Chronicles #1)': 4.102104060995162, 'East of Eden': 4.366712218676769, 'Eat, Pray, Love': 3.325750720410279, 'Eldest (The Inheritance Cycle, #2)': 3.6879766442762274, 'Eleanor & Park': 4.072688638898127, 'Ella Enchanted': 3.947476603438574, 'Emma': 3.689182068295419, "Ender's Game (Ender's Saga, #1)": 4.403230041722423, 'Eragon (The Inheritance Cycle, #1)': 3.884939573577423, 'Extremely Loud and Incredibly Close': 4.234028881470707, 'Fahrenheit 451': 4.195208763529444, 'Fall of Giants (The Century Trilogy, #1)': 3.991148232556368, 'Fallen (Fallen, #1)': 3.176725494270591, 'Fangirl': 4.047082642328564, 'Fear and Loathing in Las Vegas': 4.223409130252176, 'Fifty Shades Darker (Fifty Shades, #2)': 3.0542778711665397, 'Fifty Shades Freed (Fifty Shades, #3)': 3.1200513475547216, 'Fifty Shades of Grey (Fifty Shades, #1)': 2.5697507463916804, 'Fight Club': 4.220243099668713, 'Flowers for Algernon': 4.361747118464372, 'For Whom the Bell Tolls': 4.271210325993163, 'Foundation (Foundation #1)': 4.335330228382442, 'Franny and Zooey': 3.8806392358331316, 'Freakonomics: A Rogue Economist Explores the Hidden Side of Everything (Freakonomics, #1)': 4.3893237869826045, 'Fried Green Tomatoes at the Whistle Stop Cafe': 4.2714074453140585, 'Frostbite (Vampire Academy, #2)': 3.7009028541918685, 'Girl with a Pearl Earring': 3.9868095722986006, 'Go Ask Alice': 3.8446461725855907, 'Go Set a Watchman': 3.375166318256355, 'Gone Girl': 3.485221717927596, 'Gone with the Wind': 3.852014348840426, 'Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch': 4.420243397815109, 'Good in Bed (Cannie Shapiro, #1)': 3.8123517820301362, 'Graceling (Graceling Realm, #1)': 4.125289290956859, 'Great Expectations': 3.9313368019310566, 'Green Eggs and Ham': 4.299458326061538, "Gulliver's Travels": 3.5998073105095187, 'Guns, Germs, and Steel: The Fates of Human Societies': 4.121624680950776, 'Hamlet': 4.00450103690824, 'Harry Potter and the Chamber of Secrets (Harry Potter, #2)': 4.696894603866331, 'Harry Potter and the Cursed Child - Parts One and Two (Harry Potter, #8)': 3.4939458976865536, "Harry Potter and the Sorcerer's Stone (Harry Potter, #1)": 4.9203165126272115, "Hatchet (Brian's Saga, #1)": 3.8270246499903897, 'Heart of Darkness': 3.0962698240154514, 'Heidi': 3.781418153865275, 'High Fidelity': 4.200166328583788, 'Hotel on the Corner of Bitter and Sweet': 4.054289455159813, 'How the Grinch Stole Christmas!': 4.401778897654003, 'Hush, Hush (Hush, Hush, #1)': 3.284743290807328, 'I Am Number Four (Lorien Legacies, #1)': 3.6458295670133687, 'I Know This Much Is True': 4.1666382728327065, 'I Know Why the Caged Bird Sings': 4.138461595794326, 'I, Robot (Robot #0.1)': 3.8881117623607344, 'If I Stay (If I Stay, #1)': 3.92259569718111, 'In Cold Blood': 4.418930568642335, 'Inferno (Robert Langdon, #4)': 3.212787635359209, 'Inkheart (Inkworld, #1)': 3.647881225230013, 'Insurgent (Divergent, #2)': 3.554764996420276, 'Into Thin Air: A Personal Account of the Mount Everest Disaster': 4.0883747304329425, 'Into the Wild': 4.052947275956125, 'Is Everyone Hanging Out Without Me? (And Other Concerns)': 3.905897802677216, 'It': 3.6666058130658983, 'James and the Giant Peach': 4.109903797693623, 'Jane Eyre': 4.230586213065058, 'Jonathan Strange & Mr Norrell': 4.51535142265926, 'Jurassic Park (Jurassic Park, #1)': 4.030939833788952, 'King Lear': 4.123962460294044, 'Kiss the Girls (Alex Cross, #2)': 3.712148638371842, 'Legend (Legend, #1)': 3.7444558119311337, 'Les Misérables': 4.172634766445834, 'Life After Life': 3.882787324535907, 'Life of Pi': 4.060097170331584, 'Like Water for Chocolate': 4.183884779411451, 'Little Bee': 3.8216658290657826, 'Little House in the Big Woods (Little House, #1)': 4.169520619618735, 'Little House on the Prairie (Little House, #2)': 4.48905516562304, 'Little Women (Little Women, #1)': 3.9303417123387163, 'Living Dead in Dallas (Sookie Stackhouse, #2)': 4.008061167217889, 'Lolita': 3.5808893659130683, 'Looking for Alaska': 4.051529613887207, 'Lord of the Flies': 4.1750638781143925, 'Love in the Time of Cholera': 3.8649820246521487, 'Macbeth': 4.091186188961363, 'Madame Bovary': 3.8633214997958496, 'Mansfield Park': 3.8833416604050393, 'Marked (House of Night, #1)': 3.244676033420546, "Marley and Me: Life and Love With the World's Worst Dog": 3.9365680115518233, 'Matched (Matched, #1)': 3.277482448890713, 'Matilda': 4.3735028533997635, 'Me Before You (Me Before You, #1)': 4.226130967219984, 'Me Talk Pretty One Day': 4.035430339227329, 'Memoirs of a Geisha': 4.08538841513571, 'Middlesex': 4.596664589299979, 'Midnight in the Garden of Good and Evil': 4.069223761355564, 'Miss Peregrine’s Home for Peculiar Children (Miss Peregrine’s Peculiar Children, #1)': 3.8915821954388683, 'Moby-Dick or, The Whale': 3.380319017193269, 'Much Ado About Nothing': 4.227797526169445, "My Sister's Keeper": 3.8058585815178056, 'Naked': 4.095710377869019, 'Neuromancer': 4.05794091808834, 'Never Let Me Go': 4.158783248841075, 'Neverwhere': 4.44590086288937, 'New Moon (Twilight, #2)': 2.8862386988079907, 'Night (The Night Trilogy #1)': 4.6422522451884065, 'Nineteen Minutes': 4.266635294160416, 'Northanger Abbey': 3.7231297962263965, 'Number the Stars': 4.4388155190511105, 'Of Mice and Men': 3.908473859586369, "Oh, The Places You'll Go!": 3.959072896239893, 'Oliver Twist': 3.920852151446286, 'On the Road': 3.6792416753292434, 'One Day': 3.7038162370292573, "One Flew Over the Cuckoo's Nest": 4.22084194336638, 'One Hundred Years of Solitude': 3.8647163926950903, 'One for the Money (Stephanie Plum, #1)': 4.041068926840108, 'Orphan Train': 4.130393859878846, 'Oryx and Crake (MaddAddam, #1)': 4.25922352830406, 'Othello': 4.0930103037567, 'Outlander (Outlander, #1)': 4.195576061875206, 'Outliers: The Story of Success': 4.096402579979355, 'Paper Towns': 4.103211990758632, 'Persuasion': 3.838289150637338, 'Pretties (Uglies, #2)': 3.7779689642124907, 'Pride and Prejudice': 4.312304654410007, 'Ready Player One': 4.318279328134836, 'Rebecca': 4.186910589883169, 'Red Dragon (Hannibal Lecter, #1)': 3.95564527985285, 'Robinson Crusoe': 4.068073446464569, 'Romeo and Juliet': 3.988797843350498, 'Room': 4.178620507388776, 'Running with Scissors': 3.664871011300437, "Sarah's Key": 3.9192040874869263, 'Sense and Sensibility': 3.738728787527597, 'Sharp Objects': 3.779709534606837, "She's Come Undone": 3.985222671644798, 'Shiver (The Wolves of Mercy Falls, #1)': 3.717447049472727, 'Siddhartha': 3.9308072457959935, 'Slaughterhouse-Five': 3.8706861793586778, 'Snow Falling on Cedars': 4.14912558161919, 'Snow Flower and the Secret Fan': 3.981031925366945, 'Something Borrowed (Darcy & Rachel, #1)': 3.250621923736063, 'Speak': 3.927763238758299, "Speaker for the Dead (Ender's Saga, #2)": 4.177918201597281, 'Sphere': 3.626374908602767, 'Stardust': 4.303331291511844, 'Station Eleven': 4.316252329811823, 'Still Alice': 4.352497476001197, 'Stranger in a Strange Land': 3.983600528071733, "Tess of the D'Urbervilles": 3.6910222083305784, 'The Adventures of Huckleberry Finn': 3.924627416138127, 'The Adventures of Sherlock Holmes': 4.236820500532106, 'The Adventures of Tom Sawyer': 4.061308971248602, 'The Alchemist': 3.7105616417532103, 'The Amazing Adventures of Kavalier & Clay': 4.156644313236145, 'The Amber Spyglass (His Dark Materials, #3)': 3.874326898007569, 'The Andromeda Strain': 4.006116679916065, 'The Art of Racing in the Rain': 4.019233661724585, 'The BFG': 4.5893705159424085, 'The Bad Beginning (A Series of Unfortunate Events, #1)': 3.564324715405121, 'The Bell Jar': 3.9077900139186137, 'The Book Thief': 4.2154836442039025, 'The Bourne Identity (Jason Bourne, #1)': 4.139558282945334, 'The Boy in the Striped Pajamas': 4.01732247830061, 'The Brief Wondrous Life of Oscar Wao': 4.461585295666185, 'The Brothers Karamazov': 4.006774094443584, 'The Call of the Wild': 4.072679395771101, 'The Canterbury Tales': 3.7768196046130114, 'The Casual Vacancy': 3.0356086163631324, 'The Cider House Rules': 4.348037704061722, "The Clan of the Cave Bear (Earth's Children, #1)": 3.937051578701369, 'The Color Purple': 4.097121330373432, 'The Color of Magic (Discworld, #1; Rincewind #1)': 4.3373182244087065, 'The Complete Stories and Poems': 4.230199653656649, 'The Corrections': 3.872554592114143, 'The Count of Monte Cristo': 4.388896782400864, 'The Crucible': 3.8596283390433443, "The Cuckoo's Calling (Cormoran Strike, #1)": 4.02017572953936, 'The Curious Incident of the Dog in the Night-Time': 4.138600950962036, 'The Da Vinci Code (Robert Langdon, #2)': 3.2621951449211792, 'The Death Cure (Maze Runner, #3)': 3.8504663369347583, 'The Devil Wears Prada (The Devil Wears Prada, #1)': 3.6616600017737353, 'The Devil in the White City: Murder, Magic, and Madness at the Fair That Changed America': 4.252616788425691, 'The Diary of a Young Girl': 4.034642506238547, 'The Drawing of the Three (The Dark Tower, #2)': 4.349236447555785, 'The Elite (The Selection, #2)': 3.54144528106196, 'The Eye of the World (Wheel of Time, #1)': 3.937153851962611, 'The Fellowship of the Ring (The Lord of the Rings, #1)': 4.603135728566893, 'The Final Empire (Mistborn, #1)': 4.7277639562208185, 'The Five People You Meet in Heaven': 3.641741291772467, 'The Fountainhead': 3.7422864378026186, "The Girl Who Kicked the Hornet's Nest (Millennium, #3)": 3.690165063593118, 'The Girl Who Played with Fire (Millennium, #2)': 3.9113377089104224, 'The Girl on the Train': 3.43477922719748, 'The Girl with the Dragon Tattoo (Millennium, #1)': 3.58261720876552, 'The Giver (The Giver, #1)': 4.346020936347035, 'The Giving Tree': 4.2555635486115335, 'The Glass Castle': 3.723312205822874, 'The God of Small Things': 4.026835643138974, 'The Godfather': 4.111919453479997, 'The Golden Compass (His Dark Materials, #1)': 4.127190692641091, 'The Goldfinch': 3.8790726288412314, 'The Good Earth (House of Earth, #1)': 4.173562199216839, 'The Grapes of Wrath': 3.899939452738569, 'The Graveyard Book': 4.390709106297831, 'The Great Gatsby': 4.009205719183109, 'The Great Hunt (Wheel of Time, #2)': 3.914506037379522, 'The Guernsey Literary and Potato Peel Pie Society': 4.189310469115595, 'The Gunslinger (The Dark Tower, #1)': 4.175426063638078, "The Handmaid's Tale": 4.70390257869643, 'The Help': 4.191448585369438, 'The Historian': 3.199788891245058, "The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)": 4.672486237633983, 'The Hobbit': 4.630901195666423, 'The Horse and His Boy (Chronicles of Narnia, #5)': 3.9068531785467786, 'The Host (The Host, #1)': 3.3816317863597396, 'The Hunt for Red October (Jack Ryan Universe, #4)': 4.116675260558174, "The Husband's Secret": 4.233692720090431, 'The Iliad': 3.904494540771356, 'The Immortal Life of Henrietta Lacks': 3.958591581103459, 'The Importance of Being Earnest': 4.259226630785532, 'The Invention of Wings': 4.128431435760046, 'The Joy Luck Club': 3.9110009707605498, 'The Kite Runner': 4.266082989645239, 'The Last Battle (Chronicles of Narnia, #7)': 3.9951744618559215, 'The Last Lecture': 4.132647007332001, 'The Last Song': 3.2195899864169597, 'The Light Between Oceans': 3.8173523370992264, 'The Lightning Thief (Percy Jackson and the Olympians, #1)': 3.8906666375043097, 'The Lord of the Rings (The Lord of the Rings, #1-3)': 4.881351505052578, 'The Lost Hero (The Heroes of Olympus, #1)': 4.186669410744778, 'The Lost Symbol (Robert Langdon, #3)': 3.1257102496623883, 'The Lovely Bones': 4.12419996161791, 'The Magicians (The Magicians #1)': 3.454965779003074, 'The Martian': 4.266658391850209, 'The Martian Chronicles': 3.93169381292714, 'The Maze Runner (Maze Runner, #1)': 3.4809680254378144, "The Memory Keeper's Daughter": 3.6010060271821036, 'The Metamorphosis': 3.74558751374912, 'The Mists of Avalon (Avalon, #1)': 4.143850114950577, 'The Name of the Rose': 4.219438701351559, 'The Name of the Wind (The Kingkiller Chronicle, #1)': 4.516902539025193, 'The Namesake': 3.7134310417165697, 'The Nanny Diaries (Nanny, #1)': 3.4607548622465343, 'The Night Circus': 4.161463026996905, 'The Nightingale': 4.256985947795142, "The No. 1 Ladies' Detective Agency  (No. 1 Ladies' Detective Agency, #1)": 3.863890765859404, 'The Notebook (The Notebook, #1)': 3.4150830630814153, 'The Ocean at the End of the Lane': 4.16326689240779, 'The Odyssey': 4.145289645292108, 'The Old Man and the Sea': 3.838332076789028, 'The Other Boleyn Girl (The Plantagenet and Tudor Novels, #9)': 3.968448704424363, 'The Pact': 4.14909497763772, 'The Paris Wife': 3.822054956011077, 'The Pearl': 3.5589816789485704, 'The Perks of Being a Wallflower': 4.246364908511511, 'The Phantom Tollbooth': 4.470169685861517, 'The Picture of Dorian Gray': 3.8409853542034122, 'The Pillars of the Earth (The Kingsbridge Series, #1)': 3.938055954320635, 'The Poisonwood Bible': 4.302817172908881, 'The Prince': 3.691060774800915, 'The Prince of Tides': 4.209591449921652, 'The Rainmaker': 3.846338978331363, 'The Red Tent': 4.02459105340386, "The Restaurant at the End of the Universe (Hitchhiker's Guide, #2)": 4.125544547896859, 'The Return of the King (The Lord of the Rings, #3)': 4.852264128006437, 'The Road': 3.7368679636983164, 'The Rosie Project (Don Tillman, #1)': 4.207004374859163, 'The Runaway Jury': 4.0235646099238105, 'The Scarlet Letter': 3.0514290416903327, 'The Scorch Trials (Maze Runner, #2)': 3.5938642616750225, 'The Screwtape Letters': 4.249580474637243, 'The Sea of Monsters (Percy Jackson and the Olympians, #2)': 3.835019057928691, 'The Secret Garden': 4.464566202657413, 'The Secret History': 4.253951305265632, 'The Secret Life of Bees': 3.973898520461813, 'The Selection (The Selection, #1)': 3.6285123572271036, 'The Shack': 3.646341944984446, 'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)': 4.362820713174115, 'The Shining (The Shining #1)': 4.277280856297527, 'The Silence of the Lambs  (Hannibal Lecter, #2)': 4.0889196633936535, 'The Silver Chair (Chronicles of Narnia, #4)': 4.297798598284327, 'The Son of Neptune (The Heroes of Olympus, #2)': 3.960621642436487, 'The Strange Case of Dr. Jekyll and Mr. Hyde': 3.617920707919922, 'The Stranger': 3.928553407221807, 'The Subtle Knife (His Dark Materials, #2)': 4.070064755678437, 'The Sun Also Rises': 4.003397852950879, 'The Tales of Beedle the Bard': 3.878479877112005, 'The Taming of the Shrew': 3.940102561491374, 'The Tell-Tale Heart and Other Writings': 3.636721946016994, 'The Things They Carried': 4.305792331084189, 'The Thirteenth Tale': 4.131584360623188, 'The Thorn Birds': 3.8569204193736013, 'The Three Musketeers': 3.984555337927238, 'The Time Machine': 3.692756943314958, "The Time Traveler's Wife": 4.090993003423403, 'The Tipping Point: How Little Things Can Make a Big Difference': 4.248034611306469, "The Titan's Curse (Percy Jackson and the Olympians, #3)": 3.8444374222135966, 'The Two Towers (The Lord of the Rings, #2)': 4.832497738860547, "The Ultimate Hitchhiker's Guide to the Galaxy": 4.5676296390308355, 'The Unbearable Lightness of Being': 4.006219391149144, 'The Velveteen Rabbit': 4.348284594997344, 'The Very Hungry Caterpillar Board Book': 4.293538190760992, 'The Virgin Suicides': 4.211815124567224, 'The Voyage of the Dawn Treader (Chronicles of Narnia, #3)': 4.150907974336267, 'The War of the Worlds': 3.5605724076079035, 'The Wind in the Willows': 4.168492425768168, "The Wise Man's Fear (The Kingkiller Chronicle, #2)": 4.843904816756757, 'The Witches': 4.351489904116535, 'The World According to Garp': 4.22816427420696, 'Their Eyes Were Watching God': 3.8283167143397883, 'Things Fall Apart (The African Trilog

In [ ]:
df_re=pd.DataFrame.from_dict(rating_est, columns=['book_id', 'rating_est'])
    df_re.set_index('book_id')
    # afficher les livres avec une estimation supérieure au seuil donné
    df_re[df_re['rating_est'] >= threeshold].merge(b2, on = 'book_id')

In [ ]:
import difflib
import random

def get_book_id(book_title, metadata):
    
    """
    Gets the book ID for a book title based on the closest match in the metadata dataframe.
    """
    
    existing_titles = list(metadata['title'].values)
    closest_titles = difflib.get_close_matches(book_title, existing_titles)
    book_id = metadata[metadata['title'] == closest_titles[0]]['id'].values[0]
    return book_id

def get_book_info(book_id, metadata):
    
    """
    Returns some basic information about a book given the book id and the metadata dataframe.
    """
    
    book_info = metadata[metadata['id'] == book_id][['id', 'isbn', 
                                                    'authors', 'title', 'original_title']]
    return book_info.to_dict(orient='records')

def predict_review(user_id, book_title, model, metadata):
    
    """
    Predicts the review (on a scale of 1-5) that a user would assign to a specific book. 
    """
    
    book_id = get_book_id(book_title, metadata)
    review_prediction = model.predict(uid=user_id, iid=book_id)
    return review_prediction.est

def generate_recommendation(user_id, model, metadata, thresh=4):
    
    """
    Generates a book recommendation for a user based on a rating threshold. Only
    books with a predicted rating at or above the threshold will be recommended
    """
    
    book_titles = list(metadata['title'].values)
    random.shuffle(book_titles)
    
    for book_title in book_titles:
        rating = predict_review(user_id, book_title, model, metadata)
        if rating >= thresh:
            book_id = get_book_id(book_title, metadata)
            return get_book_info(book_id, metadata)